@{
    ViewBag.Title = "ContactMe";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ул.Порто Лагос 8 <br />
    тел: 000011115258 <br />
    гпк
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jeki_7@abv.bg">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:george__7@abv.bg">Marketing@example.com</a>
</address>