@{
    ViewBag.Title = "Game Play";
}
<h2>Game Play</h2>
@if (!ViewBag.isOver)
{
    <form action="/Home/FireTop">
        Top:<input type="range" name="position" min="0" max="100" />
        <input type="submit" value="Fire Top" />
    </form>

    <form action="/Home/FireBottom">
        Bottom:<input type="range" name="position" min="0" max="100" />
        <input type="submit" value="Fire Bottom" />
    </form>

    <form action="/Home/NewGame">
        <input type="submit" value="New Game" />
    </form>
}
@if (ViewBag.isOver)
{
    <h2>Game Over !</h2>
    <img src='/images/explosion.png'/>
}
else
{
    <h2> Battle Field </h2>
    for (var row = 0; row < ViewBag.rows; row++)
    {
        for (var cow = 0; cow < ViewBag.cows; cow++)
        {
            <img src='images/@(ViewBag.fruits[row, cow]).png' />;
        }
        <br />
    }
    <h2>Score: <b>@ViewBag.score</b></h2>
}


